  body{
    background-size: cover ;
  }
  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 23px;
  }
  .headingDiv
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    float: none;
    padding: 10px;
  }
  .headingDiv2
  {
    font-size: 18px ;
  }
  .resultsToTag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
  .resultsToTag span{
    white-space: pre-line;
  }
  .copyRightFooter{
    position: fixed;
    color: red;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    line-height: 3;
  }
  canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
    margin-top: 160px;
  }